<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
      <div class="card-header">
      </div>
      <table datatable [dtOptions]="dtOptions" class="table row-border hover">
        <thead>
          <tr>
            <th>{{'Group name' | translate}}</th>
            <th>{{ 'Group years' | translate}}</th>
            <th>{{ 'Group type' | translate}}</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" [name]="table_name" overlayClass="modal-backdrop">
    <app-editor-sidebar [table]="dtElement" [fields]="fields" [params]="params">
    </app-editor-sidebar>
  </core-sidebar>