<!-- Footer -->
<p class="clearfix mb-0">
  <span class="text-center d-block mt-25">
    Powered by
    <img src="assets/images/logo/ezactive_1024x1024.png" alt="logo" height="14" />
    <a class="ml-25" href="https://www.ezactive.com/" target="_blank">EZ ACTIVE</a>
    <!-- <span class="d-none d-sm-inline-block">, All rights Reserved</span> -->
  </span>
  <!-- <span class="float-md-right d-none d-md-block">
    Hand-crafted & Made by <span [data-feather]="'heart'" [class]="'pink'"></span>
  </span> -->
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>

<!-- Buynow Button-->
<!-- <div class="buy-now">
  <a href="https://1.envato.market/vuexy_admin" target="_blank" class="btn btn-danger" *ngIf="coreConfig.layout.buyNow"
    >Buy Now</a
  >
</div> -->