<div class="auth-wrapper auth-v2">
  <app-translate-module></app-translate-module>
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <div class=" d-none d-lg-block d-xl-block">
      <a class="brand-logo" href="javascript:void(0);">
        <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
        <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
      </a>
    </div>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img class="img-fluid" [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/forgot-password-v2-dark.svg'
              : 'assets/images/pages/forgot-password-v2.svg'
          " alt="Forgot password V2" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Forgot password-->
    <div class="col-lg-4 auth-bg m-0 p-0 auth-form">
     
      <div class="card">
        <div class="row  m-0 p-0">
          <div class="col m-0 p-0">
            <div class="container-background-form  d-lg-none d-xl-none"
              style="background-image: url(assets/images/pages/forgot-password-v2.svg);">
            </div>
          </div>
        </div>
        <div class="row m-0 p-0 form-w-background">
          <div class="col">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
              <h2 class="card-title text-center font-weight-bold mb-1">
                {{"Recover Your Password" | translate}} 🔒
              </h2>
              <p class="text-center sub-title">{{"Please enter your email address and we'll send you an email to reset your password" | translate}}</p>
              <!-- <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
                    <div class="alert-body">
                      <p data-testid="errEmail">{{ error }}</p>
                    </div>
                  </ngb-alert> -->
      
              <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <!-- <label class="form-label" for="forgot-password-email"></label> -->
                  <input data-testid="txtEmail" class="form-control" type="email" formControlName="email"
                    placeholder="{{'Email address' | translate}}" aria-describedby="forgot-password-email"
                    autofocus="" tabindex="1" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <app-error-message dataTestId="errEmail" [errors]="f.email.errors" field="email"></app-error-message>
                  </div>
                </div>
                <button data-testid="btnSendResetLink" [disabled]="loading"
                  class="btn btn-gradient-primary round-15 btn-block" tabindex="2" rippleEffect>
                  <span *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"></span>{{'Reset Password' | translate}}
                </button>
              </form>
      
              <p class="text-center mt-2">
                <a data-testid="lnkLogin" routerLink="/auth/login">
                  <i data-feather="chevron-left" class="mb-25"></i> {{'Back to Login' | translate}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Forgot password-->
  </div>
</div>