.sticky-sm-bottom {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    z-index: 1001;
}