<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title">Matches</h4> -->
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
      </table>
    </div>
  </div>
</div>

<core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" [name]="table_name" overlayClass="modal-backdrop">
  <app-editor-sidebar [table]="dtElement" [fields]="fields" [params]="params" (onSuccess)="onSuccess($event)"
    [paramsToPost]="paramsToPost" [fields_subject]="fields_subject">
  </app-editor-sidebar>
</core-sidebar>