<input
  #_fileInput
  type="file"
  (change)="onChange($event)"
  hidden
  [attr.capture]="capture"
  [attr.accept]="accept"
  [disabled]="disabled"
/>

<div class="btn-group">
  <button *ngIf="!isAndroid"
    [disabled]="disabled"
    type="button"
    class="btn btn-primary round-10 pl-1 pr-1"
    (click)="_fileInput.click()"
  >
    <span style="margin-right: 3px"> {{ 'Upload image' | translate }}</span>
    <i class="fa fa-upload"></i>
  </button>
  <div ngbDropdown *ngIf="isAndroid">
    <button
      [disabled]="disabled"
      ngbDropdownToggle
      class="btn btn-primary hide-arrow round-10 pl-1 pr-1"
      type="button"
      id="dropdownMenuButton"
      rippleEffect
    >
      {{ 'Upload image' | translate }} <i class="fa fa-upload"></i>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
      <a ngbDropdownItem (click)="onSelectOption(null, _fileInput)">
        <i class="fa-regular fa-image mr-1"></i> {{'Photo Library' | translate }}
      </a>
      <a ngbDropdownItem (click)="onSelectOption('', _fileInput)">
        <i class="fa-regular fa-camera-retro mr-1"></i> {{'Take Photo' | translate}}
      </a>
    </div>
  </div>
</div>
