<div id="home" class="content-wrapper container-xxl p-0">
  <div class="content-body">

    <!-- content-header component -->
    <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
    <app-content-background></app-content-background>
    <!-- Basic Alerts start -->
    <section id="home-page">
      <div class="row">
        <div class="col-12">
          <!-- <button type="button" class="btn btn-primary btn-next" (click)="onClick()" rippleEffect>
            <span class="align-middle">CLICK</span>
          </button> -->
        </div>
      </div>
    </section>

    <!-- Basic Alerts end -->
  </div>
</div>