<div class="container-background" style="pointer-events: none;">
    <img class="main-logo" src="{{ coreConfig.app.appLogoImage }}" alt="logo" />
    <h3>EZ League</h3>
    <h5>Website: https://ezactive.com</h5>
    <h5 *ngIf="appVersion">{{'Version'|translate}}: {{appVersion}}</h5>
    <h5 class="text-center footer-background">
        Powered by
        <img src="assets/images/logo/ezactive_16x16.png" alt="logo" style="width: 16px;" />
        <a class="ml-25" href="https://www.ezactive.com/" target="_blank">EZ ACTIVE</a>
        <!-- <span class="d-none d-sm-inline-block">, All rights Reserved</span> -->
    </h5>
</div>