.players-button {
    color: white;
    background: #FFAD40;
    border-radius: 10px;
    height: auto;
    width: fit-content;
    padding: 10px;
    font-weight: 600;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 160%;
    /* identical to box height, or 24px */

    /* Greyscale / 900 */

}